.container{
    background-color: rgb(45, 149, 197);
    margin: 10px;
    padding:20px;
    word-spacing: 20px;
    text-align: center;
    box-shadow: 2px 2px green;
}
a{
    text-decoration: none;
    color:white;
    font-size: larger;
    font-family:cursive;
 
}
a:hover{
     text-decoration: underline;
}